
    /* background: #BDBDBD; */


.tagline{
    position: relative;
}
.tagline div{
    position: absolute;
    margin-top: -32%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.col-12-Portfolio{
    padding-top: 100px;
}
.col-12-contact{
    padding-top: 100px;
}
.col-12-services{
    padding-top: 100px;
}
.card-text1{
    line-height: 20px;
    font-size: 22px;
}
.card-title{
    color: rgb(5, 131, 170);
    font-size: 25px;
}
.card-text{
    font-size: 14px;
    line-height: 16px;
}
.form{
    background-color: #e7e5e5;
    padding: 15px;
    padding-left: 10%;
    border-radius: 5px;
    width:70%;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
  }

.card-title{
    color: black;
    display: inline;
    font-weight: bold;
    font-size: 35px;
}
.cool{
    display: inline;
    font-size: larger;
    color: grey;
    font-weight: bold;
    font-size: 35px;
}
.card-text{
    font-size: 20px;
}
.img-fluid-rounded-start{
    width: 300px;
}

