<div class="container-fluid px-5">
	<div class="col-12-contact">
			<h1><b>Contact</b></h1>
			<div class="card-body">
				<p class="card-text1">
					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
					magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
				</p>
			</div>
	</div>
	<div class="abs-center ">
		<form class="form">
			<div class="row g-3 align-items-center">
				<div class="col-12 col-lg-3">
					<label class="col-form-label fw-bold" for="name">Your E-mail</label>
				</div>
				<div class="col-12 col-lg-9">
					<input type="text" id="name" class="form-control" placeholder="Your email">
				</div>
			</div>
			<div class="row g-3 align-items-center">
				<div class="col-12 col-lg-3">
					<label class="col-form-label fw-bold" for="message">Your Message</label>
				</div>
				<div class="col-12 col-lg-9">
					<textarea type="text" id="message" class="form-control" placeholder="Please enter your message here" style="height: 10rem;"></textarea>
				</div>
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
