<!-- your html code here -->
<div class="container-fluid">
    <div class="col-12-services">
      <div class="card mb-12" style="max-width: 1800px;">
       <div class="row g-0">          
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">The First Heading </h5><p class="cool">Will Catch your eye.</p>
              <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis</p>
              <p class="card-text">euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. 
              <p class="card-text">Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
          </div>
          <div class="col-md-3 pe-1">
            <img class= "img-fluid" src="assets/img/first_heading.png" class="img-fluid-rounded-start" alt="...">
          </div>
        </div>
    </div>