<!-- your html code here -->
<div class="container-fluid col-12-services">
  <div class="" style="max-width: 1800px;">
    <div class="row g-0">
      <div class="col-lg-4 p-5">
        <img class= "img-fluid" src="assets/img/second_heading.PNG" class="img-fluid-rounded-start" alt="...">
      </div>
      <div class="col-12 col-lg-8" id="secondheading">
        <div class="card-body m-5">
          <h5 class="card-title">The Second Heading </h5><p class="cool">Is Pretty Cool Too.</p>
          <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
    </div>
  </div>
</div>