<div class="bg-image"><!--bg-image convierte la imagen en el fondo del div-->
    <img 
        src="https://i.picsum.photos/id/1043/5184/3456.jpg?hmac=wsz2e0aFKEI0ij7mauIr2nFz2pzC8xNlgDHWHYi9qbc" 
        alt="" class=" w-100 img-responsive">
        <!--img responsive adapta la imagen a formatos mas pequeños-->
    <div class=" text-center w-100 position-absolute top-50" >
        <!--position-absolute top-50 coloca el texto en el centro-->
        <h1 class="ms-2 me-4 pb-1 bg-light display-1 fw-bold">One Page Wonder</h1>
        <h2 class="ms-2 me-4 mt-3 bg-light display-5 fw-bold">Will knock your socks off</h2>
        <!--m los margenes:t (arriba), s(izq), e(dcha)-->
    </div>
</div>
